<html>
    <head>
        <title>Lora Geo Coordinates</title>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key={{api_key}}"></script>
        <script type="text/javascript">
            var loadMap = function()
            {
                var myOptions = {
                  center: new google.maps.LatLng(47.4944686, 715682), // does not really matter, because we bound it by the position of the measured positions ...
                  zoom: {{zoom}},
                  mapTypeId: google.maps.MapTypeId.SATELLITE
                };
                var bounds = new google.maps.LatLngBounds();
                var map = new google.maps.Map(document.getElementById("map"),
                    myOptions);
                {{#each lora_data}}
                  //var myLatLng = {lat: 47.049, lng: 8.717};
                  var myLatLng = {lat: {{data_json.lat}}, lng: {{data_json.long}} };
                  //console.log('{{data_json.lat}}');
                  //console.log('{{data_json.long}}');
                  var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                  });
                  bounds.extend(marker.position);
                {{/each}}

                map.fitBounds(bounds);
            };
            window.onload= loadMap;
        </script>
    </head>
    <body>
        <div id="map" style="width:500px;height:500px;"></div>
    </body>
</html>
